body {
    background-color: #A9A9A9
}
header:first-of-type {
    text-align: center;
    color: #FAFAD2;
    font-size: 1.5em;
}
ul {
    list-style-type: none; 
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}
nav ul li a:hover {
    text-decoration: underline;
}
body section article header h1 {
    text-align: left;
}
a {
    color: black;
}
footer {
    text-align: center;
    font-size: 1em;
}
body section article footer {
    text-align: left;
    font-size: 0.8em;
}

